* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--chakra-colors-blue-500);
  border-radius: 10px;
}

body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}
